* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f4;
    padding: 0.5rem 15.5rem;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #242423;
}

.logo {
    padding-top: 0.25rem;
}

.links-container {
    display: flex;
    gap: 3rem;
}

.links-container a {
    font-size: 1.5rem;
    color: #8d99ae;
    text-decoration: none;
}

.links-container a:hover {
    transition: 1.5s;
    font-size: 1.6rem;
    color: #2b2d42;
}

.section-one {
    padding: 3rem 15.5rem;
    width: 100vw;
    height: 33vw;
    color: #14213d;
    background-image: url("./images/markus-spiske.t-rex-shadow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 4rem;
    color: #efefef;
    text-align: center;

}

.first-section {
    margin: 3rem 15.5rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}

.intro p {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
    color: #14213d;
    text-align: justify;
}

.begin {
    display: block;
    font-size: 1.5rem;
    color: #fca311;
}

button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.skeleton {
    width: 45%;
}