* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f4;
    padding: 0.3rem 15.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2)
}

.logo {
    padding-top: 0.25rem;
}

.links-container {
    display: flex;
    gap: 3rem;
}

.links-container a,
.geo-period-link {
    font-family: "Tourney", serif;
    font-size: 1.5rem;
    color: #8d99ae;
    text-decoration: none;
}

.links-container a:hover,
.geo-period-link:hover {
    transition: 1s;
    font-size: 1.6rem;
    color: #fca311;
}

.title-section {
    min-height: 33vw;
    color: #14213d;
    background-image: url("./images/markus-spiske.t-rex-shadow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Tourney", serif;
    font-size: 4rem;
    color: #efefef;
    text-align: center;

}

.section-one {
    margin: 7rem 15.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap-reverse;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    color: #14213d;
    text-align: justify;
}

.begin {
    font-family: "Tourney", serif;
    display: block;
    font-size: 1.5rem;
    color: #fca311;
}

button {
    font-family: "Tourney", serif;
    padding: 1rem 1.7rem;
    border-radius: 1rem;
    border-color: #14213d;
    font-size: 1.6rem;
    font-weight: 600;
    color: #8d99ae;
    align-self: flex-end;
}

button:hover {
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.skeleton {
    width: 45%;
}

.section-two {
    background-color: #edf2f4;
    padding: 7rem 15.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.img-placeholder img {
    height: 225px;
    width: 225px;
    border: 1px solid #14213d;
    border-radius: 50%;
}

.subsection-one,
.subsection-two,
.subsection-three,
.subsection-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-three {
    padding: 7rem 15.5rem;
}

.quote {
    text-align: justify;
    font-size: 2rem;
}

.quoted-person {
    display: block;
    margin-top: 1rem;
    text-align: end;
}

.section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.section-four p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 2;
}

iframe {
    margin-bottom: 2rem;
}

footer {
    min-height: 5rem;
    line-height: 5rem;
    background-color: #edf2f4;
    color: #fca311;
    font-family: "Tourney", serif;
    font-size: 2rem;
    padding: 0 15.5rem;
    text-align: center;
}